---
layout: page
title: Hi!掘客张.
subtitle: Hello, Diggzhang.
permalink: /about/
---

<h2>Hi</h2>
<p>关于这里</p>
	<p><ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li>
	</ul></p>

<h2>About me</h2>
<p>
    在IMAU时候学计算机网络。<br>
    在PKU时候学信管。<br>
    数据工程方向。<br>
    至念道臻，寂感真诚。<br>
    有过奇特的宗教体验。<br>
</p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
		<li>
			<i class="fa fa-tumblr"></i><a href="https://diggzhang.tumblr.com/">  &nbsp;Tumblr</a>
		</li>
	</ul></p>

    <!--
	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
    -->

<h2>
	版权声明
</h2>
<p>
	除特殊注明外，所有文章均采用
	<a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh">
		Creative Commons BY-NC-ND 4.0（自由转载-保持署名-非商用-禁止演绎）
	</a>协议发布。

</p>


<p>
	这意味着你可以在非商业性使用的前提下自由转载，但必须:

	<h7>
		保持文章署名
	</h7>
	<h7>
		不对文章进行修改
	</h7>
</p>

<h2>联系方式</h2>

<p>
    <b>weChat ID:</b> diggzhang /
    <b>Mail:</b> diggzhang[at]gmail.com
</p>
