<foot>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Derictory -->

  <script src="http://cdn.staticfile.org/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://cdn.staticfile.org/highlight.js/9.10.0/highlight.min.js"></script>

<!-- Hit analytics -->

<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>


<!-- Directory -->

<script src="{{ site.baseurl }}/js/main.js"></script>

</foot>
