<footer class="site-footer">

  <div class="wrapper">

    <center>
        
		<p><a class="link btn" href="{{ site.baseurl }}/">Home</a> /
		<a class="link btn" href="{{ site.baseurl }}/archive/">Archive</a> /
		<a class="link btn" href="{{ site.baseurl }}/category/">Category</a> / 
		<a class="link btn" href="{{ site.baseurl }}/tags/">Tags</a> / 
		<a class="link btn" href="{{ site.baseurl }}/about/">About</a>
        </p>

        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>
        
		<a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
		<br>

    </center>
    
  </div>

</footer>
