---
layout: null
---

<html>
<p><a class="link" href="{{ site.baseurl }}/">Home</a>
  <head>
      
  {% include head.html %}

  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="10; url={{ site.baseurl }}">
  {% endif %}

  </head>
  
  {% include header.html %}

<header class="post-header">
	<center><div class="contact-title">{{ page.title }}</div>
		<div class="contact-subtitle"><p>{{ page.subtitle }}</p></div></center>
</header>

<div class="wrapper">
	<div class="post-content">
		{{ content }}
	</div>
</div>

<footer>

{% include foot.html %}
{% include footer.html %}

</footer>
</html>
